<ion-view title="Log in" id="page5" style="background-color:#F25F5C;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/BGozhTHvSWC0bSytftZo_iOS-Apple-512.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="logIn-heading17" style="color:#FFFFFF;text-align:center;">POMO</h1>
    <div class="spacer" style="width: 300px; height: 1px;"></div>
    <button id="logIn-button30" style="border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-person-outline white btop bleft bright">Username</button>
    <button id="logIn-button31" style="border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-unlocked-outline white btop bleft bright">Tap me!</button>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <a ui-sref="taskManager()" id="logIn-button32" style="color:#F25F5C;" class="button button-light button-block">Login</a>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="logIn-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Don't have an account yet?
        <strong>Sign up</strong>
      </p>
    </div>
  </ion-content>
</ion-view>