<ion-view title="Page" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="page-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#F25F5C;font-size:18px;">What would you like to do?</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <button id="page-button33" class="button button-balanced button-block icon-left ion-android-add">Add task</button>
    <ion-list id="page-list34">
      <ion-item class="assertive" id="page-list-item56">Work on HTML</ion-item>
      <ion-item class="assertive" id="page-list-item57">Style CSS</ion-item>
      <ion-item class="assertive" id="page-list-item58">Add JavaScript</ion-item>
    </ion-list>
  </ion-content>
</ion-view>