<ion-view title="Sign up" id="page4" style="background-color:#F25F5C;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 2px;"></div>
    <h1 id="signUp-heading3" style="color:#FFFFFF;text-align:center;">Welcome!</h1>
    <div id="signUp-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Please sign up Below </p>
    </div>
    <div id="signUp-button-bar5" class="button-bar">
      <button id="signUp-button27" class="button button-positive button-block icon-left ion-social-facebook">Facebook</button>
      <button id="signUp-button29" class="button button-calm button-block icon-left ion-social-twitter">Twitter</button>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <button id="signUp-button17" style="border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-person-outline white btop bleft bright">Name</button>
    <button id="signUp-button21" style="border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-email-outline white btop bleft bright">Email</button>
    <button id="signUp-button22" style="border-radius:0px 0px 0px 0px;" class="button button-light button-block button-outline icon-left ion-ios-unlocked-outline white btop bleft bright">Password</button>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <button id="signUp-button23" style="color:#F25F5C;" class="button button-light button-block">Get started!</button>
  </ion-content>
</ion-view>