<ion-view title="Task Manager" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <div id="taskManager-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#F25F5C;font-size:18px;">What would you like to do?</p>
    </div>
    <div id="taskManager-button-bar6" class="button-bar">
      <button id="taskManager-button37" style="font-size:16px;" class="button button-balanced button-block icon-left ion-android-add">Add task</button>
      <a ui-sref="timer()" id="taskManager-button39" class="button button-assertive button-block icon-left ion-android-alarm-clock">Quick Start</a>
    </div>
    <div id="taskManager-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#F25F5C;">Current task</p>
    </div>
    <ion-list id="taskManager-list34">
      <ion-item class="assertive" id="taskManager-list-item56">Style CSS</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="taskManager-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#F25F5C;">Upcoming task</p>
    </div>
    <ion-list id="taskManager-list35">
      <ion-item class="assertive" id="taskManager-list-item59">Add JavaScript</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="taskManager-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#F25F5C;">Completed task</p>
    </div>
    <ion-list id="taskManager-list36">
      <ion-item class="item-icon-right assertive" id="taskManager-list-item60">Initial HTML
        <i class="icon ion-ios-checkmark-empty"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="timer()" id="taskManager-button8" class="button button-assertive button-block icon-left ion-android-arrow-back">Back to timer</a>
  </ion-content>
</ion-view>